---
title: Grid Utilities
---

<h2>layout-grid</h2>
<ul role="list" class="layout-grid docs--outline-children">
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consectetur quo, itaque, aliquam ipsum molestiae hic dolores magni obcaecati sequi amet eaque quibusdam reprehenderit. Autem aut numquam quas soluta tenetur?</li>
  <li>Atque iste delectus saepe, illo, vero magni omnis autem dicta quisquam a quidem odit consectetur magnam at ad deleniti nisi quae assumenda incidunt. Nisi, dicta optio sit officiis obcaecati nesciunt.</li>
  <li>Nulla, molestiae! Officiis officia blanditiis esse vero quasi perspiciatis porro minima voluptatibus quidem rerum autem possimus quisquam, perferendis praesentium iure facere odit nihil necessitatibus delectus aliquid inventore sequi alias laboriosam?</li>
</ul>

<h2>layout-grid--columns</h2>
<ul role="list" class="layout-grid layout-grid--column docs--outline-children">
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consectetur quo, itaque, aliquam ipsum molestiae hic dolores magni obcaecati sequi amet eaque quibusdam reprehenderit. Autem aut numquam quas soluta tenetur?</li>
  <li>Atque iste delectus saepe, illo, vero magni omnis autem dicta quisquam a quidem odit consectetur magnam at ad deleniti nisi quae assumenda incidunt. Nisi, dicta optio sit officiis obcaecati nesciunt.</li>
  <li>Nulla, molestiae! Officiis officia blanditiis esse vero quasi perspiciatis porro minima voluptatibus quidem rerum autem possimus quisquam, perferendis praesentium iure facere odit nihil necessitatibus delectus aliquid inventore sequi alias laboriosam?</li>
</ul>

<h2>layout-grid--auto-fit</h2>
<ul role="list" class="layout-grid layout-grid--auto-fit docs--outline-children">
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consectetur quo, itaque, aliquam ipsum molestiae hic dolores magni obcaecati sequi amet eaque quibusdam reprehenderit. Autem aut numquam quas soluta tenetur?</li>
  <li>Atque iste delectus saepe, illo, vero magni omnis autem dicta quisquam a quidem odit consectetur magnam at ad deleniti nisi quae assumenda incidunt. Nisi, dicta optio sit officiis obcaecati nesciunt.</li>
  <li>Nulla, molestiae! Officiis officia blanditiis esse vero quasi perspiciatis porro minima voluptatibus quidem rerum autem possimus quisquam, perferendis praesentium iure facere odit nihil necessitatibus delectus aliquid inventore sequi alias laboriosam?</li>
</ul>

<h2>layout-grid--with-sidebar</h2>
<div class="layout-grid layout-grid--with-sidebar docs--outline-children">
  <div>Sidebar content is here</div>
  <article>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati excepturi iste eius modi reprehenderit provident iure, distinctio totam ipsam ducimus sint ea, quibusdam cum. Quasi eligendi sed ipsa similique tenetur!</p>
    <p>Assumenda aspernatur recusandae officiis dolorem quia, quae culpa inventore doloremque placeat incidunt minus neque dolor saepe aliquam fugit natus. Quasi beatae labore dicta nam eos dolor ex quaerat delectus facere.</p>
    <p>Alias error facilis fugiat suscipit dolorem adipisci, dolor vitae porro, tempora repudiandae nulla velit doloremque culpa iusto id iste nobis reprehenderit provident obcaecati qui impedit veritatis, mollitia totam. Adipisci, modi!</p>
  </article>
</div>

<h2>layout-grid--centered</h2>
<div class="docs-container layout-grid layout-grid--centered">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem a incidunt accusamus reiciendis architecto voluptatum accusantium, omnis, ratione culpa, quia inventore totam enim illum. Magnam et expedita eius numquam?</p>
</div>

<h2>layout-grid--stack</h2>
<div class="layout-grid layout-grid--stack">
  <img
    src="https://source.unsplash.com/LeG68PrXA6Y/800x500"
    alt=""
    style="padding: 0;"
  >
  <div>
    <h3>Layout Stack</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ratione sunt voluptatum, illum ipsam aliquam a autem eaque vitae consequatur numquam accusamus aspernatur! Corrupti velit ipsa quam recusandae voluptas eius?</p>
  </div>
</div>
